hr {
    border: 1px solid {{ theme_hr_border }};
    margin-bottom: 60px;
    margin-top: 30px
}

div.body {
    padding: 45px 30px 0 30px;
}

div.body h1 {
    margin-top: 0;
    padding-top: 0;
    font-size: 180%;
}

div.body h2 {
    font-size: 140%;
}

div.body h3 {
    font-size: 120%;

}

div.sphinxsidebar h3, div.sphinxsidebar h4 {
    font-size: 120%;
    font-weight: bold;
    margin: 30px 10px 5px 0;
    padding: 0;
}

div.sphinxsidebar ul li.toctree-l1 > a {
    font-size: 110%;
}

pre {
    padding: 12px 30px;
    margin: 30px 0px;
    line-height: 1.3em;
}

div.sphinxsidebarwrapper p.blurb {
    margin-top: 20px;
    font-style: normal;
    font-size: 110%;
}
