[submodule "boltdb"]
	path = vendor/github.com/boltdb/bolt
	url = https://github.com/boltdb/bolt
[submodule "logrus"]
	path = vendor/github.com/Sirupsen/logrus
	url = https://github.com/Sirupsen/logrus
[submodule "negroni-logrus"]
	path = vendor/github.com/meatballhat/negroni-logrus
	url = https://github.com/meatballhat/negroni-logrus
[submodule "negroni"]
    path = vendor/github.com/codegangsta/negroni
    url = https://github.com/codegangsta/negroni
[submodule "bone"]
    path = vendor/github.com/go-zoo/bone
    url = https://github.com/go-zoo/bone
[submodule "statik"]
    path = vendor/github.com/rakyll/statik
    url = https://github.com/rakyll/statik
[submodule "websocket"]
    path = vendor/github.com/gorilla/websocket
    url = https://github.com/gorilla/websocket
[submodule "go-metrics"]
    path = vendor/github.com/rcrowley/go-metrics
    url = https://github.com/rcrowley/go-metrics
[submodule "jwt-go"]
    path = vendor/github.com/dgrijalva/jwt-go
    url = https://github.com/dgrijalva/jwt-go
[submodule "goproxy"]
    path = vendor/github.com/rusenask/goproxy
    url = https://github.com/rusenask/goproxy
