### Go template
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
/cmd/hoverfly/hoverfly
_cgo_gotypes.go
_cgo_export.*

_testmain.go

/cmd/hoverfly/requests.db
*.exe
*.test
*.prof

# Created by .ignore support plugin (hsz.mobi)
*.log

# examples/clients/readthedocs_query/test.py pickle file
links.p

.vagrant/

static/node_modules
static/dist

# IntelliJ
requests.db
.idea
*.iml
target

core/cmd/hoverfly/hoverfly
hoverctl/hoverctl
functional-tests/core/bin/hoverfly
functional-tests/hoverctl/bin/hoverfly
functional-tests/hoverctl/bin/hoverctl
functional-tests/hoverctl/.hoverfly/cache/*.json
functional-tests/hoverctl/.hoverfly/config.yaml
functional-tests/hoverctl/.hoverfly/*.pid
functional-tests/hoverctl/bin/hoverctl

.DS_Store
