### Go template
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
/cmd/hoverfly/hoverfly
_cgo_gotypes.go
_cgo_export.*

_testmain.go

/cmd/hoverfly/requests.db
*.exe
*.test
*.prof

# Created by .ignore support plugin (hsz.mobi)
*.log

# examples/clients/readthedocs_query/test.py pickle file
links.p

.vagrant/

static/node_modules
static/dist

# IntelliJ
.idea
*.iml
