version: 2.1
jobs:
  build:
    docker:
      - image: cimg/go:1.23.5

    environment:
      GOPATH: /home/circleci/go

    working_directory: ~/hoverfly

    steps:
      - checkout
      - run:
          name: Install Ruby
          command: |
            sudo apt-get --allow-releaseinfo-change update && sudo apt-get install ruby -f
      - run:
          name: Install Python
          command: |
            sudo apt-get install python-is-python3 -f
      - run:
          name: Install Node
          command: |
            sudo apt-get install nodejs -f
      - run:
          name: Test
          command: |
            make test
    # The resource_class feature allows configuring CPU and RAM resources for each job. Different resource classes are available for different executors. https://circleci.com/docs/2.0/configuration-reference/#resourceclass
    resource_class: large

  deploy-master:
    docker:
      - image: cimg/go:1.23.5

    environment:
      GOPATH: /home/circleci/go

    working_directory: ~/hoverfly

    steps:
      - setup_remote_docker
      - checkout
      - run:
          name: Make build
          command: |
            GIT_TAG_NAME=master-$CIRCLE_BUILD_NUM make build
      - run:
          name: Build and push master Docker image
          command: |
            docker login --username $DOCKER_USER --password $DOCKER_PASS
            docker context create hoverfly
            docker buildx create --use hoverfly
            docker buildx build --platform=linux/arm64,linux/amd64 --no-cache --tag spectolabs/hoverfly:master --push .
      - run:
          name: Install gox
          command: |
            go install github.com/mitchellh/gox@latest
      - run:
          name: Install gcloud
          command: |
            echo $GCLOUD_SERVICE_KEY | base64 --decode --ignore-garbage > ${HOME}/gcloud-service-key.json
            curl https://dl.google.com/dl/cloudsdk/channels/rapid/downloads/google-cloud-sdk-382.0.0-linux-x86_64.tar.gz | tar xz
            ./google-cloud-sdk/install.sh -q --path-update true
            ./google-cloud-sdk/bin/gcloud auth activate-service-account --key-file ${HOME}/gcloud-service-key.json
            ./google-cloud-sdk/bin/gcloud config set project $GCLOUD_PROJECT
            ./google-cloud-sdk/bin/gcloud init
      - run:
          name: Build cross platform releases
          command: |
            GIT_TAG_NAME=master-$CIRCLE_BUILD_NUM SHELL=/bin/bash ./build-release.sh
      - run:
          name: Upload dated cross platform releases to GCS
          command: |
            cd ./target && for f in hoverfly_bundle*;do ../google-cloud-sdk/bin/gsutil cp $f gs://hoverfly-master-builds/$(date +%Y%m%d%H%M)/$f; done
      - run:
          name: Upload latest cross platform releases to GCS
          command: |
            cd ./target && for f in hoverfly_bundle*;do ../google-cloud-sdk/bin/gsutil cp $f gs://hoverfly-master-builds/latest/$f; done
      - run:
          name: Set read access in GCS
          command: |
            ./google-cloud-sdk/bin/gsutil -m acl set -R -a public-read gs://hoverfly-master-builds
    # The resource_class feature allows configuring CPU and RAM resources for each job. Different resource classes are available for different executors. https://circleci.com/docs/2.0/configuration-reference/#resourceclass
    resource_class: large

  deploy-release:
    docker:
      - image: cimg/go:1.23.5

    environment:
      GOPATH: /home/circleci/go

    working_directory: ~/hoverfly

    steps:
      - setup_remote_docker
      - checkout
      - run:
          name: Make build
          command: |
            GIT_TAG_NAME=master-$CIRCLE_BUILD_NUM make build
      - run:
          name: Build and push master Docker image
          command: |
            docker login --username $DOCKER_USER --password $DOCKER_PASS
            docker context create hoverfly
            docker buildx create --use hoverfly
            docker buildx build --platform=linux/arm64,linux/amd64 --no-cache --tag spectolabs/hoverfly:$CIRCLE_TAG --tag spectolabs/hoverfly:latest --push .
      - run:
          name: Install gox
          command: |
            go install github.com/mitchellh/gox@latest
      - run:
          name: Install github-release
          command: |
            go install github.com/aktau/github-release@latest
      - run:
          name: Build cross platform releases
          command: |
            GIT_TAG_NAME=master-$CIRCLE_BUILD_NUM SHELL=/bin/bash ./build-release.sh
      - run:
          name: Upload latest cross platform releases to Github
          command: |
            cd ./target && for f in hoverfly_bundle*;do github-release upload  --user SpectoLabs --repo hoverfly --tag "$CIRCLE_TAG" --name "$f" --file "$f"; done

workflows:
  version: 2
  pipeline:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
      - deploy-master:
          requires:
            - build
          filters:
            branches:
              only: master
      - deploy-release:
          requires:
            - build
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
