alabaster==0.7.13
apache-libcloud==3.7.0
Babel==2.12.1
cffi==1.15.1
charset-normalizer==2.0.12
docutils==0.16
idna==3.3
imagesize==1.4.1
importlib-metadata==6.8.0
Jinja2==3.1.6
packaging==23.1
pycparser==2.21
Pygments==2.16.1
requests==2.31.0
six==1.16.0
snowballstemmer==2.2.0
Sphinx==5.3.0
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-mermaid==0.9.2
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
zipp==3.17.0
