name: Bump Homebrew formula

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:
    # Inputs the workflow accepts.
    inputs:
      version:
        # Friendly description to be shown in the UI instead of 'name'
        description: 'Version number'
        # Default value if no value is explicitly provided
        default: 'v1.0.0'
        # Input has to be provided for the workflow to run
        required: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "greet"
  run:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - name: Update Homebrew formula
      uses: dawidd6/action-homebrew-bump-formula@v3
      with:
       # Required, custom GitHub access token with the 'public_repo' and 'workflow' scopes
       token: ${{secrets.HOME_BREW_PAT}}
       no_fork: true
       tap: SpectoLabs/homebrew-tap
       # Formula name, required
       formula: Hoverfly
       tag: ${{ github.event.inputs.version }}
